.height290{
    height: 290px;
}

@media (min-width:544px){
    .div1{
        display: inline-block; border-right: 0.5px solid;
    }

    .div2{
        float: right; margin-right: 20%; margin-top: 30px;
    }
}

@media (max-width:543px){
    .div1{
        text-align: center;
        
    }
    
    .div2{
        text-align: center;
    }
}